<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThaiDB</title>
</head>
<body>
    You can close this window now.
    <script>
        window.close();
    </script>
</body>
</html>