<div>Distinct: 
    <a href="/"><span>All</span></a> / 
    <a href="/list/newspaper"><span>Newspapers</span></a> / 
    <a href="/list/density"><span>Density</span></a> / 
    <a href="/list/geo"><span>Geo</span></a> / 
    <a href="/list/province"><span>Province</span></a> / 
    <a href="/list/external-factor"><span>External Factors</span></a> / 
    <a href="/list/topic"><span>Topics</span></a> / 
    <a href="/list/keyword"><span>Keywords</span></a> / 
    <a href="/list/product"><span>Products</span></a>
</div>
<div>Count: 
    <a href="/count/newspaper"><span>Newspapers</span></a> / 
    <a href="/count/density"><span>Density</span></a> / 
    <a href="/count/geo"><span>Geo</span></a> / 
    <a href="/count/province"><span>Province</span></a> / 
    <a href="/count/external-factor"><span>External Factors</span></a> / 
    <a href="/count/topic"><span>Topics</span></a> / 
    <a href="/count/keyword"><span>Keywords</span></a> / 
    <a href="/count/product"><span>Products</span></a> / 
    <a href="/count/gender"><span>Gender</span></a> / 
    <a href="/count/education"><span>Education</span></a>
</div>
<div>Group by Density and: - 
    <a href="/group/density/external-factor"><span>External Factors</span></a> / 
    <a href="/group/density/topic"><span>Topics</span></a> / 
    <a href="/group/density/keyword"><span>Keywords</span></a> / 
    <a href="/group/density/product"><span>Products</span></a> / 
    <a href="/group/density/gender"><span>Gender</span></a>
</div>
<div>Group by geo and:
    <a href="/group/geo/external-factor"><span>External Factors</span></a> / 
    <a href="/group/geo/topic"><span>Topics</span></a> / 
    <a href="/group/geo/keyword"><span>Keywords</span></a> / 
    <a href="/group/geo/product"><span>Products</span></a> / 
    <a href="/group/geo/gender"><span>Gender</span></a>
</div>
<div>Group by province and:
        <a href="/group/province/external-factor"><span>External Factors</span></a> / 
        <a href="/group/province/topic"><span>Topics</span></a> / 
        <a href="/group/province/keyword"><span>Keywords</span></a> / 
        <a href="/group/province/product"><span>Products</span></a> / 
        <a href="/group/province/gender"><span>Gender</span></a>
    </div>
<div><form action="/search">Abstract: <input type="text" name="query"><input type="submit" value="search"></form></div>